.logo {
  width: 120px;
  height: 31px;
  float: left;

  h2{
    font-size: small;
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-header {
  position: fixed;
  width: 100%;
  background-color: white;
}
