.logo {
  width: 150px;
  float: left;
  margin-left: 30px;
  background-color: white;

  h2{
    font-size: 30px;
    color: black;
    margin-bottom: 0;
  }
}

nz-header {
  width: 100%;
  padding: 0;
  background-color: white;
}

.menu-list{
  font-size: 18px;

  li{
    font-weight: 600;

  }
}

// li.ant-menu-item.ant-menu-item-selected{
//   background-color: transparent;
//   color: black;
// }
