.logo {
  width: 120px;
  height: 31px;
  float: left;

  h2{
    font-size: medium;
    color: white;
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-header {
  position: fixed;
  width: 100%;
}

li.ant-menu-item.ant-menu-item-selected{
  background-color: transparent;
}
