<div nz-row>
  <h2 class="title-font">Portfolio</h2>
</div>
<div style="padding:30px;height:600px;">
  <div nz-row [nzGutter]="20">
    <div nz-col [nzSpan]="8">
      <nz-card class="card" nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card class="card" nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card class="card" nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</div>
