<div *ngIf="!isLanding; else isLandingTemplate">
    <nz-card class="fixed-contact" [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="contactTitle" [nzDescription]="contactItem"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <div class="profile">
        <img alt="profile-pic" [src]="src"/>
      </div>
    </ng-template>
    <ng-template #contactTitle>
      <h2 class="contact-title">Contact Me</h2>
    </ng-template>
    <ng-template #contactItem>
      <nz-list nzSize="small">
        <div nz-row *ngFor="let item of data">
          <nz-list-item>
            <span style="cursor: pointer" (click)="onOpenNewTab(item.url)" class="contact-item hover-color">{{item.title}}</span>
          </nz-list-item>
        </div>
      </nz-list>
    </ng-template>
</div>

<ng-template #isLandingTemplate>
  <nz-list nzSize="small">
    <div nz-row id="contact">
      <h2 class="title-font">Contact me</h2>
    </div>
    <div nz-row *ngFor="let item of data">
      <nz-list-item>
        <span style="cursor: pointer;" (click)="onOpenNewTab(item.url)" class="body-font hover-color">{{item.title}}</span>
      </nz-list-item>
    </div>
  </nz-list>
</ng-template>
