<app-section-title-layout [title]="title" [inputStyle]="layoutStyle">

  <div class="tech-stack-icon-group">
      <div class="subgroup">
        <div class="image-container">
          <img src="assets/html5.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/css3-alt.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/square-js.svg" alt="">
        </div>
      </div>
      <div class="subgroup">
        <div class="image-container">
          <img src="assets/angular.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/next-js.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/java-original.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/dotnet.svg" alt="">
        </div>
      </div>
      <div class="subgroup">
        <div class="image-container">
          <img src="assets/sql-database-generic.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/git-alt.svg" alt="">
        </div>
        <div class="image-container">
          <img src="assets/docker.svg" alt="">
        </div>
      </div>
  </div>











</app-section-title-layout>
