<div>
  <form nz-form [formGroup]="blogForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your title of your blog post!">
        <nz-input-group>
          <input type="text" nz-input formControlName="title" placeholder="Title" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your content of the post!">
        <!-- <nz-input-group nzPrefixIcon="lock"> -->
          <!-- <input type="password" nz-input formControlName="password" placeholder="Password" /> -->
          <app-ckeeditor [fGroup]="blogForm" fControlName="content"></app-ckeeditor>
        <!-- </nz-input-group> -->
      </nz-form-control>
    </nz-form-item>

    <div style="display: flex; gap: 10px;">
      <button nz-button nzType="default" nzDanger nzShape="round" (click)="onNavigateBack()">Cancel</button>
      <button nz-button [nzType]="'primary'" nzShape="round">Submit</button>
    </div>
  </form>
</div>


