:host {
  padding: 10px 0;
  width: 100%;
  height: auto;
  .title-blog{
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .desc-blog{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .content-blog{
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    word-spacing: normal;
  }
}
