// font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; ---body

// font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif; ---title

/* Extra small devices (phones, 600px and down) */
.title-font{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4vw;
}

.body-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}

// @media only screen and (max-width: 600px) {
//   *{
//     font-size: 12px;
//   }

//   .title-font{
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: 20px;
//   }

//   .body-font{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 12px;
//   }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   *{
//     font-size: 18px;
//   }

//   .title-font{
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: 60px;
//   }

//   .body-font{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 30px;
//   }

// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   *{
//     font-size: 18px;
//   }

//   .title-font{
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: 60px;
//   }

//   .body-font{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 30px;
//   }

// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   *{
//     font-size: 18px;
//   }

//   .title-font{
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: 60px;
//   }

//   .body-font{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 30px;
//   }

// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   *{
//     font-size: 18px;
//   }

//   .title-font{
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: 60px;
//   }

//   .body-font{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 30px;
//   }

// }
