html{
  font-size: 12px;
  background-color: #f3f3f3;
}

.layout{
  min-height: 100vh;
  background-color: #f3f3f3;
}

nz-content {
  padding: 0;
}

.inner-content {
  // margin-top: 64px;
  // padding: 24px;
  min-height: 380px;
}

