<nz-list nzItemLayout="vertical" *matches="'bigDevice'">
  <nz-list-item *ngFor="let blogPost of blogPosts$ | async" style="flex-direction: column; cursor: pointer;" (click)="onNavigateBlog(blogPost.id ? blogPost.id.toString() : '')">
    <nz-list-item-meta>
      <!-- <nz-list-item-meta-avatar [nzSrc]="blogPost.avatar"></nz-list-item-meta-avatar> -->
      <nz-list-item-meta-title>
        <a (click)="onNavigateBlog(blogPost.id ? blogPost.id.toString() : '')">{{ blogPost.title }}</a>
        <!-- <a href="{{ blogPost.href }}">{{ blogPost.title }}</a> -->
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ blogPost.content }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>

    <!-- {{ blogPost.content }} -->
    <ul style="margin-left: 0; margin-bottom: 10px;" nz-list-item-actions>
      <nz-list-item-action>
        <i nz-icon nzType="star" nzTheme="outline" style="margin-right: 8px;"></i>
        1563212
      </nz-list-item-action>
      <nz-list-item-action>
        <i nz-icon nzType="message" nzTheme="outline" style="margin-right: 8px;"></i>
        156321
      </nz-list-item-action>
      <nz-list-item-action>
        <i nz-icon nzType="calendar" nzTheme="outline" style="margin-right: 8px;"></i>
        {{blogPost.updatedAt | date}}
      </nz-list-item-action>
    </ul>
    <!-- <nz-list-item-extra>
      <img style="max-width: 272px; height: auto;" width="100%" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
    </nz-list-item-extra> -->
  </nz-list-item>
  <nz-list-empty *ngIf="blogPosts$ == undefined"></nz-list-empty>
</nz-list>

<nz-list nzItemLayout="vertical" *matches="'mobile'">
  <nz-list-item *ngFor="let blogPost of blogPosts$ | async" (click)="onNavigateBlog(blogPost.id ? blogPost.id.toString() : '')">
    <div nz-row>
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <a>{{ blogPost.title }}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          {{ blogPost.content }}
        </nz-list-item-meta-description>
      </nz-list-item-meta>
    </div>
    </nz-list-item>
</nz-list>
