<app-section-title-layout [title]="title">
  <div style="padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Frontend Dev">
          <ol>
            <li>Angular</li>
            <li>React</li>
            <li>State management</li>
          </ol>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Backend Dev">
          <ol>
            <li>Java Spring</li>
            <li>Nodejs</li>
            <li>SQL query</li>
          </ol>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Artificial Intelligence">
          <ol>
            <li>Machine Learning</li>
            <li>NLP</li>
            <li>Reinforcement Learning</li>
          </ol>
        </nz-card>
      </div>
    </div>
  </div>
</app-section-title-layout>
