<app-section-title-layout [title]="title">
  <div style="padding:30px;">
    <div class="body-font" nz-row [nzGutter]="8">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" [nzSpan]="12">
        <nz-card nzTitle="Frontend Dev">
          <ol>
            <li>
              Angular
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="50" nzStatus="active"></nz-progress>
            </li>
            <li>
              React / Next Js
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="50" nzStatus="active"></nz-progress>
            </li>
            <li>
              Typescript
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="70" nzStatus="active"></nz-progress>
            </li>
          </ol>
        </nz-card>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" [nzSpan]="12">
        <nz-card nzTitle="Backend Dev">
          <ol>
            <li>
              .Net Core
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="50" nzStatus="active"></nz-progress>
            </li>
            <li>
              Asp .Net Framework
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="70" nzStatus="active"></nz-progress>
            </li>
            <li>
              SQL Server
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="70" nzStatus="active"></nz-progress>
            </li>
          </ol>
        </nz-card>
      </div>
    </div>
  </div>
</app-section-title-layout>
