<app-section-title-layout [title]="title">
  <div style="padding:30px;">
    <div class="body-font" nz-row [nzGutter]="8">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" [nzSpan]="8">
        <nz-card nzTitle="Frontend Dev">
          <ol>
            <li>
              Angular
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="70" nzStatus="active"></nz-progress>
            </li>
            <li>
              React
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="50" nzStatus="active"></nz-progress>
            </li>
            <li>
              State management
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="70" nzStatus="active"></nz-progress>
            </li>
          </ol>
        </nz-card>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" [nzSpan]="8">
        <nz-card nzTitle="Backend Dev">
          <ol>
            <li>
              Java Spring
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="50" nzStatus="active"></nz-progress>
            </li>
            <li>
              Nodejs
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="30" nzStatus="active"></nz-progress>
            </li>
            <li>
              SQL query
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="80" nzStatus="active"></nz-progress>
            </li>
          </ol>
        </nz-card>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" [nzSpan]="8">
        <nz-card nzTitle="Artificial Intelligence">
          <ol>
            <li>
              Machine Learning
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="80" nzStatus="active"></nz-progress>
            </li>
            <li>
              NLP
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="50" nzStatus="active"></nz-progress>
            </li>
            <li>
              Reinforcement Learning
              <nz-progress nzStrokeColor="#1890FF" [nzPercent]="40" nzStatus="active"></nz-progress>
            </li>
          </ol>
        </nz-card>
      </div>
    </div>
  </div>
</app-section-title-layout>
