<div class="layout">
  <h2 class="title title-font">Web Developer</h2>
  <p class="body body-font">
    An enthusiastic and driven learner, looking to enhance my practical
    knowledge in the web development. I have graduated from University Malaya
    Malaysia. My degree is Computer Science and major in Artificial
    Intelligence.
  </p>
  <div class="button-group">
    <button (click)="openContactFormModal()" class="contact-button">
      <span class="tertiary-font">Contact Me</span>
      <span nz-icon nzType="swap-right" nzTheme="outline"></span>
    </button>
    <button (click)="openResume()" class="download-button">
      <span class="tertiary-font">View Resume</span>
      <span nz-icon nzType="swap-right" nzTheme="outline"></span>
    </button>
  </div>

  <div *ngIf="isCMVisible" class="popup">
    <app-new-contact-detail></app-new-contact-detail>
  </div>
</div>

<!-- <nz-modal
  [(nzVisible)]="isContactModalVisible"
  nzCentered
  nzTitle="Contact Form"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email correctly!">
          <input
            class="form-email tertiary-font"
            type="email"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          nzErrorTip="Please input your enquiry with min length 10!"
        >
          <input
            type="text"
            class="form-enquiry tertiary-font"
            nz-input
            formControlName="enquiry"
            placeholder="Enquiry"
          />
        </nz-form-control>
      </nz-form-item>
      <div class="button-group">
        <button class="tertiary-font cancel-button">Cancel</button>
        <button class="tertiary-font submit-form-button">Submit</button>
      </div>
    </form>
  </ng-container>
</nz-modal> -->
