nz-sider {
  background: white;
  color: black;
  line-height: 12px;
}

nz-content{
  padding: 10px;
  background: white;
}

.image{
  width: 100%;
}

.section{
  min-height: 100vh;
}

.profile-pic{
  position: absolute;
  top: 250px;
  left: 250px;
}
