@keyframes animateBlob {
  0% {
      border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }
    100% {
      border-radius: 40% 60%;
    }
}

.section {
  height: 100vh;
  width: 100%;
  // display: grid;
  // place-content: center;
}


nz-content{
  padding: 10px 0;
  background-color: #f3f3f3;

  .anchor-group {
    background-color: transparent;
    color: black;
    line-height: 12px;
    font-size: 20px !important;

    .link-group {
      position: fixed;
      z-index: 100;
      top:0;
      right: 0;
      overflow: auto;
      height: 64px;
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 1.5vw;
      margin-right: 1.5vw;

      a {
        padding: 0 20px;
        text-decoration: underline;
        font-style: italic;
        color: #5f4949;
        cursor: pointer;
        font-weight: 900;
      }
    }


  }

}

.top-view {
  height: 100vh;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #ebebeb;

  .flex-summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flex-summary-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;

    div {
      text-align: center;
    }
  }
}

.image {
  width: min(max(10rem, 20vw), 250px);
  height: min(max(10rem, 20vw), 250px);
  position: relative;
  overflow: hidden;
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
  box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
  animation: animateBlob 10s linear infinite alternate;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   .section{
//     min-height: 30vh;
//   }

//   .image {
//     width: 120px;
//     height: 120px;
//   }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   .image {
//     width: 200px;
//     height: 200px;
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   .image {
//     width: 200px;
//     height: 200px;
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {

//   .image {
//     width: 200px;
//     height: 200px;
//   }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {

//   .section{
//     min-height: 100vh;
//   }

//   .image {
//     width: 250px;
//     height: 250px;
//   }
// }
