nz-sider {
  background: white;
  color: black;
  line-height: 12px;
}

nz-content{
  padding: 10px;
  background: white;
}

.image{
  margin-top: -80px;
}

.section{
  min-height: 100vh;
}

.profile-pic{
  position: absolute;
  top: -60px;
  left: 20px;
}
