<nz-layout>


  <!-- <nz-sider>
    <nz-avatar nzIcon="user" nzSrc="" [nzSize]="128" [nzSrc]="src"></nz-avatar>
    <nz-list nzSize="small">
      <div nz-row id="contact">
        <h2>Contact me</h2>
      </div>
      <div nz-row *ngFor="let item of data">
        <nz-list-item>
          <span>{{item.title}}</span>
        </nz-list-item>
      </div>
    </nz-list>
  </nz-sider> -->


  <nz-content>
    <section id="summary" class="section">
      <div nz-row>
        <div nz-col nzSpan="12" class="image">
          <img class="blob" nz-image width="800px" height="800px" [nzSrc]="srcBlob" [nzPlaceholder]="placeholderBlob" />
          <img class="profile-pic" nz-image width="800px" height="800px" [nzSrc]="src" [nzPlaceholder]="placeholder" />
        </div>
        <div nz-col nzSpan="12">
          <app-career-summary></app-career-summary>
        </div>
      </div>
    </section>

    <div id="about" class="section">
      <app-about-me></app-about-me>
    </div>

    <div id="skill" class="section">
      <app-skills></app-skills>
    </div>

    <div id="qualification" class="section">
      <app-qualifications></app-qualifications>
    </div>

    <section id="portfolio" class="section">
      <div nz-row>
        <h2 class="title-font">Portfolio</h2>
      </div>
      <div nz-row>
        <p class="body-font">Recent works</p>
      </div>
    </section>

    <section id="blog" class="section">
      <div nz-row>
        <h2 class="title-font">Blog</h2>
      </div>
      <div nz-row>
        <p class="body-font">Recent posts</p>
      </div>
    </section>

    <section id="contact" >
      <nz-list nzSize="small">
        <div nz-row id="contact">
          <h2 class="title-font">Contact me</h2>
        </div>
        <div nz-row *ngFor="let item of data">
          <nz-list-item>
            <span class="body-font">{{item.title}}</span>
          </nz-list-item>
        </div>
      </nz-list>
    </section>

  </nz-content>


  <nz-sider>
    <nz-anchor nzOffsetTop="20">
      <nz-link nzHref="#summary" nzTitle="Home"></nz-link>
      <nz-link nzHref="#about" nzTitle="About Me"></nz-link>
      <nz-link nzHref="#skill" nzTitle="Skills"></nz-link>
      <nz-link nzHref="#qualification" nzTitle="Qualifications"></nz-link>
      <nz-link nzHref="#portfolio" nzTitle="Portfolio"></nz-link>
      <nz-link nzHref="#blog" nzTitle="Blog"></nz-link>
      <nz-link nzHref="#contact" nzTitle="Contact Me"></nz-link>
    </nz-anchor>
  </nz-sider>


</nz-layout>
