<app-section-title-layout [title]="title">
  <nz-timeline nzMode="alternate">
    <nz-timeline-item nzLabel="2012">UPSR exam (Straight A)</nz-timeline-item>
    <nz-timeline-item nzLabel="2015">PT3 exam 8A 2B</nz-timeline-item>
    <nz-timeline-item nzLabel="2017">SPM exam 7A+ 1A 1A- 1B</nz-timeline-item>
    <nz-timeline-item nzLabel="2019-03">PSPM exam 4.00 (matriculation)</nz-timeline-item>
    <nz-timeline-item nzLabel="2019-09">Enrolled in University Malaya</nz-timeline-item>
  </nz-timeline>
</app-section-title-layout>
