.layout {
  min-height: 100vh;
}

nz-sider{
  background-color: #f3f3f3;

  li{
    margin: 20px 10px;
  }
}

nz-content {

  background: #f3f3f3;
  .inner-content {
    margin-top: 64px;
    padding: 24px;
    min-height: 360px;
  }
}

.menu-list{
  list-style: none;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 64px;

  li{
    font-weight: 900;

    a {
      color: #5f4949;
    }
  }
}


