.layout {
  min-height: 100vh;
}

nz-sider{
  background-color: #f3f3f3;

  li{
    margin: 20px 10px;
  }
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #f3f3f3;
  min-height: 360px;
}

