nz-sider {
  background: white;
  color: black;
  line-height: 120px;
  width: 300px;
}

nz-content {
  background-color: white;
  min-height: 120px;
  line-height: 120px;
  padding: 20px;
}

.fixed-contact{
  position: fixed;
  width: 250px;
  height: 400px;
  border: none;
}

.profile{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;

  img{
    width:100%;
  }
}

.contact-title{
  font-size: 1.3vw;
}

.contact-item{
  font-size: 1vw;
}
