nz-layout{
  margin-top: 100px;
}

nz-content {
  background-color: white;
  min-height: 800px;
  line-height: 120px;
  padding: 20px;
}

nz-sider {
  background: white;
  color: black;
  line-height: 120px;
  width: 300px;
}
