nz-spin {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 20px;
}

.example {
  text-align: center;
  // background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  min-height: 30vh;
}
