<nz-list nzItemLayout="vertical" *matches="'bigDevice'">
  <nz-list-item *ngFor="let portfolio of portfolios$ | async" style="flex-direction: column; cursor: pointer;" (click)="onNavigatePortfolio(portfolio.githubUrl ? portfolio.githubUrl.toString() : '')">
    <nz-list-item-meta>
      <!-- <nz-list-item-meta-avatar [nzSrc]="portfolio.avatar"></nz-list-item-meta-avatar> -->
      <nz-list-item-meta-title>
        <a (click)="onNavigatePortfolio(portfolio.githubUrl ? portfolio.githubUrl.toString() : '')">{{ portfolio.title }}</a>
        <!-- <a href="{{ portfolio.href }}">{{ portfolio.title }}</a> -->
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ portfolio.description }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>

    <!-- {{ portfolio.content }} -->
    <ul style="margin-left: 0; margin-bottom: 10px;" nz-list-item-actions>
      <nz-list-item-action>
        <i nz-icon nzType="star" nzTheme="outline" style="margin-right: 8px;"></i>
        1563212
      </nz-list-item-action>
      <nz-list-item-action>
        <i nz-icon nzType="message" nzTheme="outline" style="margin-right: 8px;"></i>
        156321
      </nz-list-item-action>
    </ul>
    <!-- <nz-list-item-extra>
      <img style="max-width: 272px; height: auto;" width="100%" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
    </nz-list-item-extra> -->
  </nz-list-item>
  <nz-list-empty *ngIf="isEmptyPortfolios"></nz-list-empty>
</nz-list>

<nz-list nzItemLayout="vertical" *matches="'mobile'">
  <nz-list-item *ngFor="let portfolio of portfolios$ | async" (click)="onNavigatePortfolio(portfolio.githubUrl ? portfolio.githubUrl.toString() : '')">
    <div nz-row>
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <a>{{ portfolio.title }}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          {{ portfolio.description }}
        </nz-list-item-meta-description>
      </nz-list-item-meta>
    </div>
    </nz-list-item>
</nz-list>
