/* You can add global styles to this file, and also import other style files */
@import "/src/assets/styles/global/background/background.scss";
@import "/src/assets/styles/global/font/font.scss";


*{
  font-family: Arial, Helvetica, sans-serif;
  // font-size: 16px;
}


div.ant-card-head-title{
  font-size: 20px;
}

ul.ant-timeline.ant-timeline.label.ant-timeline-alternate{
  background-color: black;
}

li.ant-timeline-item{
  font-size: 2vw;
  height: 130px;
}

div.ant-tabs-tab-btn{
  font-size: 1.5vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  *{
    // font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  *{
    // font-size: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  *{
    // font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  *{
    // font-size: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  *{
    // font-size: 18px;
  }
}
